/* General HTML and Body CSS Properties*/

html, body {
  width: 100%;
  height: 100%;
}
body {
  background: -webkit-linear-gradient(-60deg, #87CEFA 0%,#87CEFA 50%,#78C2F0 50%,#69B3E0 100%);
}

/* Link CSS Properties*/
a {
  color: #2285BA;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
a:hover, a:focus {
    color: #2C82B7;
    text-decoration: none;
}

/* Text CSS Properties*/
h3 {
  padding-top: 8px;
  color: #331C08;
  font-size: 25px;
  font-family: PT Sans;
}
.text-faded {
  color: #FFF;
  line-height: 30px;
  font-size: 16px;
  font-family: Lora;
}
.main-heading {
  padding: 15px;
  color: #FFF;
  font-size: 50px;
  font-family: PT Sans;
  text-shadow: 2px 3px 10px #4390C0;
}

/* Div and Section Tag CSS Properties */
#cloud {
  width: 650px; 
  height: 120px;
  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  position: relative;
  margin: 120px auto 20px;
  margin-top: 230px;
}
#cloud:after, #cloud:before {
  content: '';
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}
#cloud:after {
  width: 200px; height: 200px;
  top: -80px; left: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
#cloud:before {
  width: 180px; height: 180px;
  top: -120px; right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}
#middle-cloud {
  content: '';
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
  width: 300px; height: 300px;
  top: -200px; left: 180px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
}
.bg-land {
  background: linear-gradient(#5E4025, #4A2B0F);
  height: 100px;
  border-top: 15px solid #399201;
  position: absolute;
  bottom: 0;
}
blockquote {
  border: none;
  margin-top: -15px;
}
cite {
  font-family: Lora;
}
.quote-p {
  font-family: Lora;
  color: #333;
}
/* Images CSS Properties*/
.no-drag {
  user-drag: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  cursor: crosshair;
}
#refresh {
  width: 80px;
  height: auto;
  margin-top: 50px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/* Button CSS Property */
.btn-custom,
.btn-custom:focus {
  background: -webkit-linear-gradient(-60deg, #5FADDE 0%,#5FADDE 50%,#4F9AC9 50%,#408DBD 100%);
  border: none;
  color: #FFF;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 15px;
  box-shadow: 0px transparent;
  outline: none;
}
.btn-custom:hover {
  color: #FFF;
  box-shadow: 1px 2px 3px #3683B3;
}
.btn-generate,
.btn-generate:focus {
  padding: 15px 15px;
  background: -webkit-linear-gradient(-60deg, #FFF 0%,#FFF 50%,#F0F0F0 50%,#E5E5E5 100%);
  color: #4F9AC9;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 4px 5px #408DBD;
  outline: none;
}
.btn-generate:hover {
  color: #3683B3;
  box-shadow: 4px 4px 5px #408DBD;
}

/* Span CSS Properties */
.underline {
  color: #331C08;
  border-bottom: 2px dotted #331C08;
}
.fcc {
  border-bottom: 1px dotted #2C82B7;
}
.dark-blue {
  color: #4894C3;
}

/* Modal CSS Properties */
.modalProperty {
  margin-top: 6em;
  border-radius: 0px;
  width: 100%;
}
.googleForm {
  width: 100%;
  height: 500px;
}