/* General HTML and Body CSS Properties*/

html, body {
  width: 100%;
  height: 100%;
}
body {
  background: -webkit-linear-gradient(-60deg, #FFF 0%,#FFF 50%,#F5F5F5 50%,#F0F0F0 100%);
}

/* Link CSS Properties*/
a {
    color: #2285BA;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
a:hover, a:focus {
    color: #2C82B7;
    text-decoration: none;
}

/* Text CSS Properties*/
.text-faded {
    color: #666;
    line-height: 30px;
    font-size: 15px;
    font-family: Lora;
}
.text-faded-light {
    color: #F0F0F0;
    font-size: 16px;
    padding-top: 10px;
    font-family: Lora;
}
.main-heading {
  padding-top: 125px;
  color: #FFF;
  font-size: 50px !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  padding-bottom: 0px;
}

/* Images CSS Properties*/
.no-drag {
  user-drag: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  cursor: crosshair;
}